#content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.search_bar .form-control {
    max-width: 200px;
    display: inline-block;
}
table {
    font-size: inherit;
}
.buttons {
    margin-top: 3px;
    margin-bottom: 30px;
}
.buttons.top {
    margin-bottom: 5px;
    text-align: right;
}
.buttons.top > a {
    padding-right: 10px;
}
td > input {
    width: 100%;
}
#edit_page {
    max-width: 600px;
    margin: 0 auto;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.vm_msg {
    padding: 15px;
}
#ajaxloader {
    position: absolute;
    top: 48%;
    display: none;
    z-index: 9999;
    left: 50%;
    margin-left: -16px;
}
.img-responsive {
    width: 100%;
}
#main_content .row {
    margin-bottom: 50px;
}
.vm_description {
    margin-top: 10px;
    color: #666;
}
a:hover .vm_description {
    text-decoration: none;
}